<div class="container-big-card">

  <div class="big-card-img">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt=""
      height="150 rem">
  </div>



  <div class="big-card-title">
    <h1><a href="#">Dados Mockados/Cravados</a></h1>
  </div>

  <div class="big-card-info">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper massa sodales, fermentum
        lorem nec,
        viverra sapien. Integer pulvinar scelerisque purus, nec mollis tortor ornare nec. Donec quis tempor mauris.
        Praesent dapibus posuere sem. Praesent rutrum feugiat vehicula. Donec ligula nisi, vulputate non fringilla
        vitae,
        rutrum eget felis. Cras vel.
      </a>
    </p>
  </div>
</div>
